<html>
<head><title>아주대에 오신걸 환영합니다.</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="../stylesheets/ajou.css"/>
  <meta charset="UTF-8">

</head>
<body>
<div class="header">
  <div class="content">
    <div class="flex"></div>
    <div class="content-box">
      <div class="box-cell">· HOME</div>
      <div class="box-cell">· LOGIN</div>
      <div class="box-cell">· PORTAL</div>
      <div class="box-language">
        <div class="language-check">LANGUAGE</div>
        <i class="material-icons">arrow_drop_down</i></div>
      <div class="box-search">
        <div class="search-bar"></div>
        <i class="material-icons">search</i></div>
    </div>
  </div>
</div>
<div class="nav">
  <div class="content">
    <div class="nav-img"></div>
    <div class="flex"></div>
    <div class="nav-main">
      <div class="main-session">학교소개</div>
      <div class="main-session">입학/교육</div>
      <div class="main-session">산학/연구</div>
      <div class="main-session">학사지원</div>
      <div class="main-session">대학생활</div>
      <div class="main-session">아주광장</div>
    </div>
  </div>
</div>
<div class="img-zone">
  <div class="content">
    <div class="content-mini"><i class="material-icons direction">chevron_left</i><i class="material-icons direction">chevron_right</i>
      <div class="content-point"><i class="material-icons position">fiber_manual_record</i><i
              class="material-icons position">fiber_manual_record</i><i class="material-icons position icon-white">fiber_manual_record</i><i
              class="material-icons position">fiber_manual_record</i><i class="material-icons position">fiber_manual_record</i>
      </div>
    </div>
  </div>
</div>
<div class="news-zone">
  <div class="content">
    <div class="news-contents">
      <div class="news-main">
        <div class="news-button">
          <div class="news-click">NEWS</div>
          <div class="flex"></div>
          <i class="material-icons">add</i></div>
        <div class="news-item">
          <div class="news-content">
            <div class="news-image news-image-1">
              <div class="opacity"></div>
            </div>
            <div class="news-title"><h1>로이터 '2018 아시아 혁신대학 평가' 3년 연속 韓 10위권</h1></div>
            <div class="news-body">우리 학교가 로이터 선정 '2018 아시아 혁신대학 평가'에서 3년 연속 국내 순위 10위권을 유지했다. 평가대학 아시아 대학 가운데서는</div>
          </div>
          <div class="news-content">
            <div class="news-image news-image-2">
              <div class="opacity"></div>
            </div>
            <div class="news-title"><h1>김성환·박지용 교수팀, 생체조직과 유사한 '전자 피부' 구현</h1></div>
            <div class="news-body">김성환·박지용 교수 연구팀이 누에고치에서 추출한 실크 단백질을 활용해 실제 피부와 비슷한 특성을 가지는 바이오 소재 기반 전자 피부를 구현하는 데
              성공했다.
            </div>
          </div>
          <div class="news-content">
            <div class="news-image news-image-3">
              <div class="opacity"></div>
            </div>
            <div class="news-title"><h1>전윤수 교수 연출 '세이브 미' 밀라노국제영화제 수상</h1></div>
            <div class="news-body">우리 학교 문화콘텐츠학과 전윤수 교수(사진)가 연출한 단편영화 '세이브 미'가 밀라노 국제 영화제 국제 단편영화 부문에서 수상했다.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="notice-contents">
      <div class="notice-main">
        <div class="notice-button">
          <div class="notice-click">NOTICE</div>
        </div>
        <div class="notice-content">
          <div class="notice-box">
            <div class="notice-summary">
              <div class="summary-title">학사</div>
              <div class="summary-content">[학사]2018-2학기 재입학 신청 안내(6.11~6.27)</div>
            </div>
            <div class="notice-summary">
              <div class="summary-title">장학</div>
              <div class="summary-content">2018 新세계문화탐방 발표 및 면접 대상자 공고</div>
            </div>
            <div class="notice-summary">
              <div class="summary-title">학술</div>
              <div class="summary-content">[SW중심대학] 2018-1 Ajou Greative Software Concert 개최</div>
            </div>
            <div class="notice-summary">
              <div class="summary-title">학사</div>
              <div class="summary-content">[아주강좌] 제 371강 강연 안내</div>
            </div>
            <div class="notice-summary">
              <div class="summary-title">장학</div>
              <div class="summary-content">[중요] 2학기 교내장학 신청_6.29(금) 까지</div>
            </div>
            <div class="notice-summary">
              <div class="summary-title">학사</div>
              <div class="summary-content">[다산융복합교육센터]제7회 강의페어링 공모전 전시 개최</div>
            </div>
            <div class="notice-summary">
              <div class="summary-title">장학</div>
              <div class="summary-content">2018년 하반기 삼성드림클래스 주중주말교실 강사 선발 안내</div>
            </div>
          </div>
          <div class="notice-box">
            <div class="notice-image"></div>
          </div>
          <div class="notice-box">
            <div class="notice-date">
              <div class="date-check">
                <div class="check-month">Jun</div>
                <div class="check-date">06</div>
              </div>
              <div class="date-content">체육관 전국동시지방선서 개표소 지정 안내</div>
            </div>
            <div class="notice-date">
              <div class="date-check">
                <div class="check-month">Jun</div>
                <div class="check-date">06</div>
              </div>
              <div class="date-content">2018 코리아, 국제개발협력에 길을 묻다</div>
            </div>
            <div class="notice-date">
              <div class="date-check">
                <div class="check-month">Jun</div>
                <div class="check-date">06</div>
              </div>
              <div class="date-content">2018학년도 2학기 교내장학 신청</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>