<html>
<head>
  <link href="../stylesheets/cardView.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet">
  <meta charset="UTF-8">

</head>
<body>
<div class = "frame">
  <div class = "grid grid-1">
    <div class = "cell cell-3">
      <div class = "image yourname">
        <img src = "./너의이름은.jpg">
        </img>
      </div>
      <div class = "text">
        <div class = "text-title"> 너의 이름은. </div>
        <div class = "text-content">
          君の名は。, your name., 2016 <br><br>
          [장르] 애니메이션, 드라마, 멜로/ 로맨스 <br>
          [감독] 신카이 마코토 <br>
          [출연] 카미키 류노스케(타치바나 타키 목소리 역), 카미시라이시 모네(미야미즈 미츠하 목소리 역)<br>
          [등급] 12세 관람가
        </div>
        <div class = "text-date">2017.01.04 개봉</div>
      </div>
    </div>
    <div class = "cell cell-3">
      <div class = "image titanic">
        <img src = "./타이타닉.jpg">
        </img>
      </div>
      <div class = "text">
        <div class = "text-title"> 타이타닉 </div>
        <div class = "text-content">
          Titanic, 1997<br><br>
          [장르] 멜로/로맨스, 드라마<br>
          [감독] 제임스 카메론 <br>
          [출연] 레오나르도 디카프리오(잭 도슨 역), 케이트 윈슬렛(로즈 드윗 부카더 역)<br>
          [등급] 15세 관람가
        </div>
        <div class = "text-date">1998.02.20 개봉</div>
      </div> </div>
    <div class = "cell cell-3">
      <div class = "leon image">
        <img src = "./레옹.jpg">
        </img>
      </div>
      <div class = "text">
        <div class = "text-title"> 레옹 </div>
        <div class = "text-content">
          Leon, 1994<br><br>
          [개요] 범죄, 액션, 드라마<br>
          [감독] 뤽 배송<br>
          [출연] 장 르노(레옹 역), 나탈리 포트만(마틸다 역), 게리 올드만 (스탠드 필드 역)<br>
          [등급] 청소년 관람불가
        </div>
        <div class = "text-date">1995.02.18 개봉</div>
      </div> </div>
    <div class = "cell cell-3">
      <div class = "lalaland image">
        <img src = "라라랜드.png">
        </img>
      </div>
      <div class = "text">
        <div class = "text-title"> 라라랜드 </div>
        <div class = "text-content">
          La La Land, 2016<br><br>
          [장르] 드라마, 뮤지컬, 멜로/ 로맨스<br>
          [감독] 데이미언 셔젤<br>
          [출연] 라이언 고슬링(세바스찬 역), 엠마 스톤(미아)<br>
          [등급] 12세 관람가

        </div>
        <div class = "text-date">2016.12.07 개봉</div>
      </div></div>

  </div>
  <div class = "grid grid-2">
    <div class = "cell cell-5 cell-ver2">
      <div class = "image tarzan">
        <img src = "./타잔.jpg">
        </img>
      </div>
      <div class = "text">
        <div class = "text-title"> 타잔 </div>
        <div class = "text-content">
          TARZAN 3D, 2013<br><br>
          [장르] 애니메이션, 가족, 모험<br>
          [감독] 라인하드 클루스<br>
          [출연] 켈란 루츠(타잔 역), 스펜서 로크(제인 포터 역)<br>
          [등급] 전체 관람가<br>
        </div>
        <div class = "text-date">2014.01.09 개봉</div>
      </div>
    </div>
    <div class = "cell cell-2">
      <div class = "image gonjiam">
        <img src = "./곤지암.jpeg">
        </img>
      </div>
      <div class = "text">
        <div class = "text-title"> 곤지암 </div>
        <div class = "text-content">
          GONJIAM: Haunted Asylum, 2017<br><br>
          누르지 마세요
        </div>
        <div class = "text-date"></div>
      </div>
    </div>
    <div class = "cell cell-5 cell-ver2 frozen">
      <div class = "image frozen">
        <img src = "./겨울왕국.jpg">
        </img>
      </div>
      <div class = "text">
        <div class = "text-title"> 겨울 왕국</div>
        <div class = "text-content">
          Frozen, 2013<br><br>
          [장르] 애니메이션, 모험, 코미디, 가족, 뮤지컬<br>
          [감독] 크리스벅, 제니퍼 리<br>
          [출연] 크리스틴 벨(안나 역), 이디나 멘젤(엘사 역)<br>
          [등급] 전체 관람가
        </div>
        <div class = "text-date">2014.01.16 개봉</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>