<html>

<head>
  <link rel="stylesheet" href="../stylesheets/firbase.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
</head>

<body>
<div class="menu-field">
  <div class="menu-sub"><i class="fab fa-gitlab"></i>
    <div class="text">Firebase</div>
  </div>
  <div class="menu-sub"><i class="fas fa-home"></i>
    <div class="overview">Project Overview</div>
    <div class="bar">|</div>
    <i class="fas fa-cog"></i></div>
  <div class="scroll-content">
    <div class="menu-content">
      <div class="title">DEVELOP</div>
      <div class="content"><i class="fas fa-expand"></i>
        <div class="sub">안녕하세요</div>
      </div>
      <div class="content"><i class="fas fa-expand"></i>
        <div class="sub">안녕하세요</div>
      </div>
      <div class="content"><i class="fas fa-expand"></i>
        <div class="sub">안녕하세요</div>
      </div>
      <div class="content"><i class="fas fa-expand"></i>
        <div class="sub">안녕하세요</div>
      </div>
      <div class="bar"></div>
      <div class="title">STABILITY</div>
      <div class="content"><i class="fas fa-user-tie"></i>
        <div class="sub">반갑습니당</div>
      </div>
      <div class="content"><i class="fas fa-user-tie"></i>
        <div class="sub">반갑습니당</div>
      </div>
      <div class="content"><i class="fas fa-user-tie"></i>
        <div class="sub">반갑습니당</div>
      </div>
      <div class="content"><i class="fas fa-user-tie"></i>
        <div class="sub">반갑습니당</div>
      </div>
      <div class="bar"></div>
      <div class="title">ANALYTICS</div>
      <div class="content"><i class="fab fa-reddit-square"></i>
        <div class="sub">수고하세영</div>
      </div>
      <div class="content"><i class="fab fa-reddit-square"></i>
        <div class="sub">수고하세영</div>
      </div>
      <div class="content"><i class="fab fa-reddit-square"></i>
        <div class="sub">수고하세영</div>
      </div>
      <div class="content"><i class="fab fa-reddit-square"></i>
        <div class="sub">수고하세영</div>
      </div>
    </div>
  </div>
  <div class="menu-sub"></div>
  <div class="menu-sub"></div>
</div>
<div class="empty-field"></div>
<div class="main-field">
  <div class="main-notice">
    <div class="notice">handycode-app</div>
    <i class="fas fa-caret-down"></i>
    <div class="flex"></div>
    <div class="text">문서로 이동</div>
    <i class="fas fa-bell"></i><i class="far fa-user-circle"></i></div>
  <div class="main-header">
    <div class="header">개요</div>
    <div class="flex"></div>
    <i class="fas fa-question-circle"></i></div>
  <div class="main-sub">
    <div class="flex-content"></div>
    <div class="content">
      <div class="message"><i class="fas fa-envelope"></i>
        <div class="text"> 새로운 Firebase 기능, 연구, 이벤트에 관한 이메일 업데이트를 수신합니다.</div>
        <div class="join">신청</div>
      </div>
    </div>
    <div class="flex-content"><i class="material-icons">close</i></div>
  </div>
  <div class="main-content-1">
    <div class="content">
      <div class="title">
        <div class="message-content">프로젝트 앱 1개</div>
        <div class="flex"></div>
        <div class="add-content">다른 앱 추가</div>
      </div>
      <div class="content-box">
        <div class="box-title"><i class="fab fa-android"></i>
          <div class="title-content">
            <div class="title-1">Handy Code</div>
            <div class="title-2">com.samsung.android.codemaker</div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-sub border-right">
            <div class="box">
              <div class="text">일일 활성 사용자 수</div>
              <div class="number">
                <div class="count">31</div>
                <div class="percentage minus">-26.2%</div>
              </div>
              <i class="far fa-chart-bar"></i></div>
            <div class="box">
              <div class="text">월간 활성 사용자 수</div>
              <div class="number">
                <div class="count">622</div>
                <div class="percentage plus">+0.5%</div>
              </div>
              <i class="far fa-chart-bar"></i></div>
          </div>
          <div class="content-sub">
            <div class="box">
              <div class="text">비정상 종료가 발생하지 않은 사용자</div>
              <div class="number">
                <div class="count">85%</div>
                <div class="percentage"></div>
              </div>
              <i class="fas fa-chart-line"></i></div>
            <div class="box">
              <div class="text">비정상 종료</div>
              <div class="number">
                <div class="count">176</div>
                <div class="percentage"></div>
              </div>
              <i class="fas fa-chart-line"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-2">
    <div class="content big">
      <div class="card-title">Firebase 탐색</div>
      <div class="card">
        <div class="card-photo"></div>
        <div class="card-title">Analytics</div>
        <div class="card-content">자세한 분석을 확인하여 사용자가 앱에 참여하는 방식을 추정하고 분석할 수 있습니다.</div>
      </div>
      <div class="card">
        <div class="card-photo"></div>
        <div class="card-title">Authentication</div>
        <div class="card-content">서버측 코드 없이 다양한 제공업체의 사용자를 인증하고 관리할 수 있습니다.</div>
      </div>
      <div class="card">
        <div class="card-photo"></div>
        <div class="card-title">Database</div>
        <div class="card-content">연결된 모든 클라이언트에서 실시간으로 데이터를 저장하고 동기화 할 수 있습니다.</div>
      </div>
    </div>
  </div>
</div>
</body>

</html>