<html>

<head>
  <title></title>
  <link rel="stylesheet" href="../stylesheets/instagram.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
</head>

<body>
<div class="header">
  <div class="header-main">
    <div class="content">
      <div class="main"><i class="fab fa-instagram"></i>
        <div class="border-right">|</div>
        <div class="instagram"></div>
      </div>
      <div class="flex"></div>
      <div class="search">
        <div class="search-bar"><i class="fa fa-search"></i><input placeholder="Search" /></div>
      </div>
      <div class="flex"></div>
      <div class="icons"><i class="far fa-compass icon"></i><i class="far fa-heart icon"></i><i class="far fa-user icon"></i></div>
    </div>
  </div>
  <div class="header-content">
    <div class="content">
      <div class="photo">
        <div class="photo-self"></div>
      </div>
      <div class="content-session">
        <div class="name-tag">
          <div class="name">bumkeyk</div><i class="fas fa-check-circle"></i>
          <div class="follow">follow</div>
        </div>
        <div class="introduce-session">
          <div class="self-introduce">SHINEE KEY luv little freaks</div>
        </div>
        <div class="number">
          <div class="num-session">
            <div class="count">2,160</div>
            <div class="title">posts</div>
          </div>
          <div class="num-session">
            <div class="count">5.5m</div>
            <div class="title">followers</div>
          </div>
          <div class="num-session">
            <div class="count">14</div>
            <div class="title">following</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-icons">
    <div class="content">
      <div class="empty"></div><i class="fas fa-th icon"></i><i class="fas fa-bars icon"></i><i class="fas fa-map-marker-alt icon"></i><i class="fas fa-tags icon"></i></div>
  </div>
</div>
<div class="empty"></div>
<div class="view">
  <div class="card-view">
    <div class="card-session">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</div>
</body>

</html>