<html>

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" href="../stylesheets/jsonfilter.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<body>
<div class="main">
  <div class="box">
    <div class="box-select"><select index="0"><option>all</option><option>남</option><option>여</option></select><select index="1"><option>all</option><option>2010</option><option>2014</option><option>2015</option><option>2016</option></select><select index="2"><option>all</option><option>25</option><option>24</option><option>23.5</option><option>22</option><option>21</option></select></div>
  </div>
  <div class="answer">몰라</div>
</div>
<script src="../javascripts/jsonFilter1.js"></script>
</body>

</html>