<!DOCTYPE html>
<html>
<head><title>카카오톡2</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/kakaolayout.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"><!--라이브러리는 위에있어야 함~ 위에서 아래로 코드가 읽히니까--></script>
  <!--script(src="/javascripts/test.js")-->
  <link rel="stylesheet" href="../stylesheets/kakaosetting.css">
</head>
<body>
<div class="main">
  <div class="content-table">
    <div class="content-table-cell">
      <div class="content">
        <div class="ui-bar"><a href="https://sooojungee.github.io/public/views/kakaochat.html" title="chat"><i class="material-icons">arrow_back</i></a>
          <div class="text">설정</div>
          <div class="flex"></div>
          <i class="material-icons">search</i></div>
        <div class="setting">
          <div class="session"><i class="fas fa-bullhorn"></i>
            <div class="text">공지사항</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="fas fa-flask"></i>
            <div class="text">실험실</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="material-icons">info</i>
            <div class="text">
              <div class="text-1">버전정보</div>
              <div class="text-2">7.2.2</div>
            </div>
          </div>
          <div class="bar"></div>
          <div class="session"><i class="fas fa-lock"></i>
            <div class="text">개인/보안</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="material-icons">notifications</i>
            <div class="text">알림</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="material-icons">person</i>
            <div class="text">친구</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="fas fa-comment"></i>
            <div class="text">채팅</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="material-icons">brightness_medium</i>
            <div class="text">화면</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="fas fa-paint-brush"></i>
            <div class="text">테마</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="material-icons">star_half</i>
            <div class="text">게임별</div>
          </div>
          <div class="mini-bar"></div>
          <div class="session"><i class="material-icons">more_horiz</i>
            <div class="text">기타</div>
          </div>
          <div class="bar"></div>
          <div class="session"><i class="fas fa-question-circle"></i>
            <div class="text">고객센터</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>