<!DOCTYPE html>
<html>
<head><title>카카오톡2</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/kakaolayout.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"><!--라이브러리는 위에있어야 함~ 위에서 아래로 코드가 읽히니까--></script>
  <!--script(src="/javascripts/test.js")-->
  <link rel="stylesheet" href="../stylesheets/kakaochat.css">
</head>
<body>
<div class="main">
  <div class="content-table">
    <div class="content-table-cell">
      <div class="content">
        <link rel="stylesheet" href="../stylesheets/kakaomenu.css">
        <div class="menubar"><a class="menu menu-friend" href="https://sooojungee.github.io/public/views/kakaofriend.html" title="chat"><i
                class="far fa-user"></i></a><a class="menu menu-chat" href="https://sooojungee.github.io/public/views/kakaochat.html" title="chat"><i
                class="far fa-comment"></i></a>
          <div class="menu"><i class="far fa-newspaper"></i></div>
          <a class="menu menu-setting" href="https://sooojungee.github.io/public/views/kakaosetting.html" title="setting"><i class="fas fa-ellipsis-h"></i></a>
        </div>
        <div class="chat">
          <div class="user">
            <div class="photo"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">ㄱ홍주원</div>
              </div>
              <div class="text">
                <div class="text-message">ㅎㅎ</div>
              </div>
            </a>
            <div class="date">오전 11:18</div>
          </div>
          <div class="user">
            <div class="photo-1"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">이지나</div>
              </div>
              <div class="text">
                <div class="text-message">화이링이에요~</div>
              </div>
            </a>
            <div class="date">오전 4:03</div>
          </div>
          <div class="user">
            <div class="photo-1"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">윤찬식</div>
                <i class="material-icons">notifications_off</i></div>
              <div class="text"><i class="fas fa-file"></i>
                <div class="text-message">MaboPlayLogo.swift</div>
              </div>
            </a>
            <div class="date">18/6/10</div>
          </div>
          <div class="user">
            <div class="photo-1"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">윤태린</div>
              </div>
              <div class="text">
                <div class="text-message">넵넵 내일 봬여!!</div>
              </div>
            </a>
            <div class="date">18/6/10</div>
          </div>
          <div class="user">
            <div class="photo-1"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">01047257914</div>
              </div>
              <div class="text">
                <div class="text-message">넵 쉬세요~</div>
              </div>
            </a>
            <div class="date">18/6/9</div>
          </div>
          <div class="user">
            <div class="photo-2"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">배달의 민족</div>
              </div>
              <div class="text">
                <div class="text-message">안녕하세요 배달의 민족입니다.</div>
              </div>
            </a>
            <div class="date">18/6/9</div>
          </div>
          <div class="user">
            <div class="photo-1"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">정다혜</div>
              </div>
              <div class="text">
                <div class="text-message">(반짝반짝)</div>
              </div>
            </a>
            <div class="date">18/6/9</div>
          </div>
          <div class="user">
            <div class="photo-1"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">ID Lab</div>
                <div class="group">11</div>
                <i class="material-icons">notifications_off</i></div>
              <div class="text">
                <div class="text-message">관심있는분 있을까봐 공유드려요</div>
              </div>
            </a>
            <div class="date">18/6/8</div>
          </div>
          <div class="user">
            <div class="photo-1"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">조성현</div>
              </div>
              <div class="text"><i class="fas fa-file"></i>
                <div class="text-message">config.zip</div>
              </div>
            </a>
            <div class="date">18/6/8</div>
          </div>
          <div class="user">
            <div class="photo-3"></div>
            <a class="session" href="https://sooojungee.github.io/public/views/kakaouserchat.html" title="userchat">
              <div class="name-profile">
                <div class="name">카카오페이</div>
              </div>
              <div class="text">
                <div class="text-message">결제가 완료되었습니다.</div>
              </div>
            </a>
            <div class="date">18/6/8</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>